extends ../layout

block content
    a(href='/users/create') Nuevo usuario

    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Email
                th(scope='col') Verificado
                th(scope="col")
                th(scope="col")
        tbody
            each usuario in usuarios
                tr
                    td(scope="row")
                      = usuario.id
                    td= usuario.nombre
                    td= usuario.email
                    td= usuario.verificado ? 'Si' : 'No'
                    td
                        a(href= 'users/' + usuario._id + '/update') Editar
                    td
                        form.inline(method='post' action='users/' + usuario._id + '/delete')
                            input(type="hidden" name='id' value= usuario._id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'